/*Descrição detalhada: Esse código é responsável pela estilização do pagamento do plano mensal e anual do Tointo, na qual define o estilo
dos elementos como os inputs de cartão ou pix, além do botão de voltar e continuar. Ele também controla o comportamento visual durante
interações do usuário (hover) e também tem a intenção de facilitar o uso da aplicação para os usuários.*/

/*Início Pagamento*/
body { /*Body para colocar o formulário no centro da página */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /*Tamanho para o Body*/
    background-color: #8B638B;
    
}

.form_pagamento { /*Section do body*/
    text-align: center;
    background-color: rgb(64, 29, 97);
    height: 540px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 520px;
    color: white;
    box-shadow: 20px 20px 50px rgb(58, 17, 58);
    margin-top: 100px;
}


.h1_mensal { /*Título*/
    font-size: 2.5em;
    border-bottom: 1px solid white;
    margin-bottom: 60px;
}

.escolha { /*H3 com o título "Escolha sua forma de pagamento"*/
    font-size: 1.5em;
    padding-bottom: 15px;
}

.content { /*Div que contém o H3*/
    margin-bottom: 100px;
}

.pix { /*div que contem o input e o span para o pagamento em pix*/
    padding-bottom: 10px;
}

.cartao { /*div que contem o input e o span para o pagamento em cartão de crédito*/
    margin-bottom: 80px;
}

.span_frase { /*span das duas formas de pagamento*/
    font-size: 1.2em;
}

.input_pagamento { /*inputs das escolhas de pagamento*/
    height: 17px;
    width: 17px
}

/*Início dos Botoes de voltar e continuar*/
.button_btn {
    padding: 7px 17px 7px 17px;
    font-size: 1.1em;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    color: white;
    background-color: #823b9c;
}


.button_btn_voltar{
    padding: 7px 30px 7px 30px;
    font-size: 1.1em;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    color: white;
    background-color: #823b9c;

}

.button_btn_voltar:hover{
    background-color: #823b9c;
    font-size: 1.2em;
    cursor: pointer;
    color: white;
}

.button_btn:hover {
    background-color: #823b9c;
    font-size: 1.2em;
    cursor: pointer;
    color: white;
}

.btn_pag {
    display: flex;
    justify-content: space-around;
    width: 345px;
}

.btn .button_btn a {
    text-decoration: none;
    color: black;
}

.button_btn a:hover {
    color: white;
}
/*Fim botoes de voltar e continuar*/
/*Fim do pagamento*/