.container_pix {
    width: 100%;
    height: 730px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.qrcode {
    width: 15%;
    margin-top: 15px;
    border-radius: 35px;
}

#titulo_pix {
    color: white;
}

.pCode {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #fff;
}

.codigoGerado {
    font-size: 30px;
    color: #ffcc00;
}

.btnContPix {
    padding: 10px 38px 10px 38px;
    background-color: rgb(64, 18, 97);
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}