/*Descrição detalhada: Esse código é responsável pela estilização da parte de pagamento por Cartão do Tointo, na qual define o estilo
dos elementos, além dos campos de nome do titular, cpf, número do cartão, data de vencimento, código de segurança e error validation, além dos botões de salvar
e cancelar. Ele também controla o comportamento visual durante interações do usuário (hover) e também tem a intenção de facilitar o uso da aplicação
para os usuários.*/

/*--Início Caartão--*/
*, ::after, ::before{
    box-sizing: content-box;
}

.adic_cartao{ /*class do form*/
    /*deixei o formulário no centro da página */
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid;
    background-color: #2D0651;
    border-radius: 8px;
    margin-top: 110px;
    box-shadow: 20px 20px 50px #2D0651;
    width: 530px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
   
}

.h1_cartao {
    /*Título "Cartão" do formulário*/
    border-bottom: 1px solid;
    text-align: center;
    color: white;
    font-size: 1.7rem;
    line-height: unset;
    font-weight: bold;
    margin-top: 10px;
}

.form_grupo {
    /*class das Divs que contém os labels e os inputs*/
    display: flex;
    flex-direction: column;
    color: white;
    padding: 3px 10px 10px 10px;
}

.form_grupo input{
    border: none;
}

.input_1, .input_2, .input_3, .input_4, .input_5 {
    /*class do input nome titular, cpf, número do cartão, data de vencimento e código de segurança*/
    border-radius: 8px;
    padding: 6px;
    margin-bottom: 15px;
    border: none;
    font-size: 13px;
}

.btn_cartao {
    /*class do botão salvar*/
    padding: 10px;
    font-size: 1em;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    background-color: white;
}

.btn_cartao:hover {
    /*muda cor do botão*/
    background-color: #AFA4CF;
}

.nome_titular {
    /*class da label adionar cartão*/
    margin-top: 5px;
    font-size: 1.1em;
    padding-left: 5px;
    padding-right: 5px;
}

.cpf {
    /*class da label nome do titular*/
    font-size: 1.1em;
    padding-left: 5px;
    padding-right: 5px;
}

.num_cartao {
    /*class da label cpf*/
    font-size: 1.1em;
    padding-left: 5px;
    padding-right: 5px;
}

.datavenc {
    /*class da label numero do cartão*/
    font-size: 1.1em;
    padding-left: 5px;
    padding-right: 5px;
}

/*---Início buttons---*/
.buttons_cartao { /*botão de salvar e cancelar*/
    display: flex;
    justify-content: space-around;
}

.buttons_cartao div { /*Tamanho para a div que tem os botões salvar e cancelar*/
    max-width: 100%;
}

.buttons_cartao div input{ /*input do botão*/
    border: none;
}
/*---Fim buttons---*/

.error-validation { /*java script*/
    color: rgb(107, 236, 221);
    font-size: 15px;
    margin: 0;
}
  
.template { 
    display: none;
}

/*--Fim Cartão--*/