/*--Início Formulário--*/
body{
    background-color: #8B638D;
}
.cadastro { /*class do form*/
    display: flex; /*deixei o formulário no centro da página */
    flex-direction: column;
    justify-content: center;
    border: 1px solid;
    background-color: #2D0651;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 8px;
    height: 460px;
    margin-top: 40px;
    box-shadow: 20px 20px 50px #2D0651;
}

.h1_cadastro { /*Título "Cadastro" do formulário*/
    border-bottom: 1px solid;
    text-align: center;
    color: white;
}

.form_grupo { /*class das Divs que contém os labels e os inputs*/
    display: flex;
    flex-direction: column;
    color: white;
    padding: 3px 10px 10px 10px;
}

.input_1 { /*class do input nome*/
    border-radius: 8px;
    padding: 6px;
    margin-bottom: 15px;
}

.input_2 { /*class do input email*/
    border-radius: 8px;
    padding: 6px;
    margin-bottom: 15px;
}

.input_3 { /*class do input senha*/
    border-radius: 8px;
    padding: 6px;
    margin-bottom: 15px;
}

.input_4 { /*class do input confirmar senha*/
    border-radius: 8px;
    padding: 6px;
    margin-bottom: 15px;
}

.submit_btn { /*class do botão cadastrar*/
    padding: 6px;
    font-size: 1.2em;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 15px;
    margin-bottom: 25px;
    cursor: pointer;
}

.submit_btn:hover { 
    background-color: #AFA4CF;
}

.nome { /*class da label Nome*/
    margin-top: 5px;
    font-size: 1.2em;
    padding-left: 5px;
    padding-right: 5px;
}

.email { /*class da label Email*/
    font-size: 1.2em;
    padding-left: 5px;
    padding-right: 5px;
}

.senha { /*class da label Senha*/
    font-size: 1.2em;
    padding-left: 5px;
    padding-right: 5px;
}

.confirmar { /*class da label Confirmar Senha*/
    font-size: 1.2em;
    padding-left: 5px;
    padding-right: 5px;
}

/*--Fim Formulário--*/