*{font-family: Arial, Helvetica, sans-serif;} /*Fonte arial para o site inteiro*/

/*-----Inicio Header-----*/

header.container {
    display: flex;
    border-radius: 10px 10px 0 0;
    border-bottom: 4px solid rgb(124, 101, 147);
}
.container {
    background: #61457C;
    padding: 20px 0;
}

/*Logo Tointo*/

.img_logo { /*tamanho da div da logo*/
    width: 200px;
    padding: 0 0 0 35px;
}

.logo { /*tamanho da logo*/
    height: 150px;
    width: 150px;
    border: none;
}

/*Fim logo Tointo*/

nav.menu { /*tamanho da nav (home, recurso e plano) e sua posição*/
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.topico { /*li do home, recurso e plano*/
    list-style-type: none;
    color: white;
    cursor: pointer;
}

.menu .topico{ /*Deixar os tópicos em linha*/
    display: inline;
    margin: 0 0 0 30px;
} 

.menu a{ /*Estilizando o "a" do menu*/
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.entrar { /*Input do entrar*/
    font-size: 100%;
    font-weight: bold;
    border-radius: 15px;
    padding: 10px;
    border: 1px solid #000000;
    color: #fff;
    background-color: rgb(124, 101, 147);
    cursor: pointer;
}

/*Input cadastrar*/

.cadastrar { /*Estilização do input cadastrar*/
    font-size: 100%;
    font-weight: bold;
    border-radius: 15px;
    border: 1px solid #000000;
    color: #fff;
    padding: 10px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: rgb(124, 101, 147);
    cursor: pointer;
}

/*Hover do cadastrar, entrar e tópico(o tópico é os li home, recursos e planos)*/
.cadastrar:hover {
    background-color: #751A74;
    color: #fff;
}

.entrar:hover {
    background-color: #751A74;
    color: #fff;
}
.topico:hover {
   color: #A978A5;
}


