/*inicio do planos*/

.planos{
display: flex;
justify-content: center;
border-top: 4px solid rgb(124, 101, 147);
padding-top: 50px;
background-color: #401D61;
padding-bottom: 50px;
}

.plano_free, .plano_mensal, .plano_anual{
    padding: 5%;
    color: white;
}

.planos img{
    max-width: 90px;
    margin-top: 30px;
}
.free:hover {
    transition: 400ms linear;
}

.plano_free{
    background-color:#61457C;
    align-content: center;
    text-align: center;
    
}

.plano_mensal{
    background-color: #61457C;
    align-content: center;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}

.plano_anual{
    background-color: #61457C;
    align-content: center;
    text-align: center;
}

.btn_1, .btn_2, .btn_3{
    margin-top: 10px;
    padding: 20px 40px 20px 40px;
    border-radius: 57px;
    font-size: 1em;
    border: none;
    background-color: #7C6593;
    color: white;
}

.btn_1:hover, .btn_2:hover, .btn_3:hover{
    background-color:#B662B5;
}


.preco_1, .preco_2, .preco_3{
    padding: 20px;
    font-size: 1.9em;
}

.h1_1, .h1_2, .h1_3{
    font-size: 40px;
}

.p1, .p2, .p3{
    font-size: 1.3em;
}
.plano_free img:hover{
    max-width: 140px;
    transition: 300ms linear;
}
.plano_mensal img:hover{
    max-width: 140px;
    transition: 300ms linear;
}
.plano_anual img:hover{
    max-width: 140px;
    transition: 300ms linear;
}
/*fim dos planos*/


