/*  Esse código CSS estiliza o ícone do WhatsApp na página da
    landing page, deixando a imagem fixa na tela em uma localização
    específica (canto inferior direito), se tornando acessível para
    os usuários enquanto navegam no site.*/


/*  Começo WhatsApp fixed  */
.whatsapp_fixed {
    position: fixed;
    height: 90px;
    width: 90px;
    bottom: 20px;
    left: 1400px;
}

/*  fim whatsApp   */