/*  Esse conjunto de estilos CSS está dividido em blocos que
    correspondem a diferentes partes de uma aplicação web. Cada
    seção contém estilização de elementos específicos, sendo:
    calendário, menu lateral, To-Do List, componentes de perfil do
    usuário e compromissos. As definições incluem diversos atributos
    visuais para criar uma interface agradável para os usuários.
*/
#root {
  max-width: 100%;
  margin-bottom: auto;
}

/*-----App calen-----*/
.menu-cal-per {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to bottom, #AC72BF, #6B29A4, #570D70);
  padding-top: 10px;

}

/*-----Fim app calen-----*/

/*-----Inicio CALENDARIO-----*/
.cabecalho_menu {
  margin-left: 20px;
  margin-top: 20px;
  width: 10%;
}

.usuario {
  margin-left: auto;
  align-items: center;
}

.cabecalho_mes {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px 10px 0px;

}

.botao {
  background-color: rgb(213, 186, 231);
}

/*-----Fim calendario-----*/

/*-----Início ToDolist-----*/
.todolist {
  margin-top: 140px;
  width: 482px;
  height: 600px;
}

.menu-todo-per {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to left, #AC72BF, #6B29A4, #570D70);
  width: 1534px;
  height: 747px;
}

.header-todo,
.corpo,
.todo_footer {
  background-color: #915d9b;
  color: white;
  padding: 10px;
}

.form-todo {
  padding: 5px;
}

.corpo {
  border-bottom: 1px solid lightgrey;

}

.header-todo.data {
  display: none;
}

.data {
  padding: 5px;
}

.header-todo {
  display: flex;
  height: 90px;
  border-radius: 15px 15px 0 0;
}

.todo_footer {
  border-radius: 0px 0px 15px 15px;
}

.dia-mes {
  margin-bottom: 6px;
}

.dia-semana {
  text-align: center;

}

.descr {
  padding-bottom: 40px;
}

.plus {
  background-color: #915d9b;
  border: none;
  margin-left: 92%;
}

button.btn.btn-outline {
  color: white;
}

.plus:hover {
  background-color: #c07acc;
}

.tarefa {
  display: flex;
}

.edit_excluir {
  margin-left: auto;
}

label.lembrete.form-label {
  padding-right: 10px;
}

.tarefa input,
.hora {
  margin-right: 10px;
}

/*-----Fim ToDolist-----*/


/*-----Início do componente Calendario-----*/
.add {
  font-size: 25px;
}

/*-----Fim do componente Calendario-----*/


/*-----Início menu lateral-----*/
.hoje,
.semana,
.importante {
  background-color: rgb(64, 29, 97);
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;

}

.hoje:hover,
.semana:hover,
.importante:hover {
  background-color: rgb(150, 119, 181);
}

.lateral_menu.btn.btn-outiline {
  border: none;
  justify-content: left;
  width: 40px;
}

svg.bi.bi-justify {
  color: white;
}



.offcanvas-body,
.offcanvas-header {
  background-color: #7c638d;
}

.home_calen {
  color: #fff;
}

/*-----Fim menu lateral-----*/


/*-----Início do Perfil-----*/

#dropdown-basic::after {
  content: none;
}

.perfil {
  margin-top: 12px;
  margin-right: 40px;
  border: none;
}

button.btn.btn-outline {
  border: none;
}

.nome-perfil,
.email-perfil {
  text-align: center;
  color: white !important;
}

.nome-perfil{
  word-break: break-all;
}

.email-perfil,
.btn-sair {
  border-bottom: 1px solid lightgrey;
}

.page-perfil {
  background-color: rgb(72, 4, 120) !important;
  width: 250%;
}

.btn-sair, .btn-excluir{
  color: white;
  display: flex;
  flex-direction: column;
  width: 92%;
  border: none;
  text-align: start;
  padding: 8px 15px 8px 15px;
  text-decoration: none;
  background-color: rgb(72, 4, 120)
}

.btn-pagamento {
  display: flex;
  color: rgb(46, 16, 68);
  text-decoration: none;
  padding: 8px 15px 8px 15px;
}


.page-perfil .btn-sair:hover ,.btn-excluir:hover {
  background-color: rgb(150, 119, 181);
}

.save:hover {
  color: #915d9b;
}

.dropdown-menu .show {
  width: 250px;
}

#bg-vertical-dropdown-1 {
  background-color: rgb(72, 4, 120);
  border: none;
  text-align: start;
  border-radius: 0 !important;
  width: 100%;
}

#bg-vertical-dropdown-1:hover{
  background-color: rgb(150, 119, 181) !important;
  border: none !important;
}

#bg-vertical-dropdown-1::after {
  border-top: 0em solid;
  }

/*-----Fim do Perfil-----*/
.dropdown, .dropdown-center, .dropend, .dropstart, .dropup, .dropup-center {
  position: relative;
}
.dropdown {
  width: 10%;
}

button.btn.btn-outline {
  border: none;
  margin-left: 40px;
}

.dropdown.btn-group{
  width: 100% !important;
  
}

/*---------Modal de confirmação do excluir conta--------*/
.botaocancelarModal, .botaoexcluirModal{
  background-color: #570D70 !important;
  color: #fff;
  width: 30px;
  border-color: #570D70 !important;
  width: 60px !important;
}

/*--------- Modal de erro - validações --------*/

.modal-footer{
  border-top: none !important;
}

.overlay-modcad {
  background-color: rgba(0, 0, 0, 0.75) !important; /* Cor do fundo do overlay */
}

.modcad {
  width: 300px;
}

.errofechar{
  border-color:transparent;
}

.errofechar:hover{
  border-color: #ddd !important;
}

.footererromodal{
  border-top: 0.5px solid white !important;
}
