/*  Esse conjunto de estilos CSS está dividido em blocos que
    correspondem a diferentes partes de uma aplicação web. Cada
    seção contém estilização de elementos específicos, sendo:
    calendário, menu lateral, To-Do List, componentes de perfil do
    usuário e compromissos. As definições incluem diversos atributos
    visuais para criar uma interface agradável para os usuários.
*/
#root {
  max-width: 100%;
  margin-bottom: auto;
}

/*-----App calen-----*/
.menu-cal-per {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to left, #AC72BF, #6B29A4, #570D70);
  padding-top: 10px;
}
/*-----Fim app calen-----*/

/*-----Inicio CALENDARIO-----*/
.cabecalho_menu {
  margin-left: 15px;
  margin-top: 20px;
}

.usuario {
  margin-left: auto;
  align-items: center;
}

.cabecalho_mes {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px 10px 0px;

}

.botao {
  background-color: rgb(213, 186, 231);
}
/*-----Fim calendario-----*/

/*-----Início ToDolist-----*/
.todolist{
  margin-top: 140px;
  width: 482px;
  height: 600px;
}

.menu-todo-per {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to left, #AC72BF, #6B29A4, #570D70);
  width: 1534px;
  height: 747px;
}

.header-todo,
.corpo,
.todo_footer {
  background-color: #915d9b;
  color: white;
  padding: 10px;
}

.form-todo{
  padding: 5px;
}

.corpo{
  border-bottom: 1px solid lightgrey;
 
}

.header-todo.data {
  display: none;
}

.data{
  padding: 5px;
}

.header-todo {
  display: flex;
  height: 90px;
  border-radius: 15px 15px 0 0;
}

.todo_footer{
  border-radius: 0px 0px 15px 15px;
}

.dia-mes{
  margin-bottom: 6px;
}

.dia-semana{
  text-align: center;

}

.descr {
  padding-bottom: 40px;
}

.plus {
  background-color: #915d9b;
  border: none;
  margin-left: 92%;
}

button.btn.btn-outline {
  color: white;
}

.plus:hover {
  background-color: #c07acc;
}

.tarefa {
  display: flex;
}

.edit_excluir {
  margin-left: auto;
}

label.lembrete.form-label {
  padding-right: 10px;
}

.tarefa input,
.hora {
  margin-right: 10px;
}
/*-----Fim ToDolist-----*/


/*-----Início do componente Calendario-----*/
.add {
  font-size: 25px;
}
/*-----Fim do componente Calendario-----*/


/*-----Início menu lateral-----*/
.hoje,
.semana,
.importante {
  background-color: rgb(64, 29, 97);
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;

}

.hoje:hover,
.semana:hover,
.importante:hover {
  background-color: rgb(150, 119, 181);
}

.lateral_menu.btn.btn-outiline {
  border: none;
}

svg.bi.bi-justify {
  color: white;
}

svg.bi.bi-justify:hover {
  color: #915d9b;
}


.offcanvas-body,
.offcanvas-header {
  background-color: #7c638d;
}

.home_calen{
  color: #570D70;
}
/*-----Fim menu lateral-----*/

/*-----Início dos Compromissos-----*/
.mb-3,
.import {
  margin-right: 25px;
}

.modal-header, .modal-body, .modal-footer{
  background-color: #915d9b !important;
  color: white;
}

.form-control.form-control:focus,
button.btn-close:focus {
  border-color: #cccccc;
  outline: 0;
  box-shadow: none;
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: #bb80c7 !important;
} /*Define a cor de fundo dos links ativos em um menu
 suspenso utilizando uma variável Bootstrap para roxo.*/


.dropdown-item {
  width: 150px !important;
  color: rgb(46, 16, 68) !important;
}
/*-----Fim dos compromissos-----*/


/*-----Início do Perfil-----*/
#dropdown-basic::after {
  content: none;
}

.perfil {
  margin-top: 12px;
  margin-right: 15px;
  border: none;
}

button.btn.btn-outline{
  border: none;
}

.nome-perfil,
.email-perfil {
  text-align: center;
  color: white !important;
}

.email-perfil,
.btn-sair {
  border-bottom: 1px solid lightgrey;
}

.page-perfil {
  background-color: rgb(72, 4, 120) !important;
  width: 370%;
}

.page-perfil .btn-sair {
  color: white;
  background-color: rgb(72, 4, 120);
  display: flex;
  flex-direction: column;
  width: 91.8%;
  border: none;
  text-align: start;
  padding: 8px 15px 8px 15px;
  text-decoration: none;
}

.page-perfil .btn-sair:hover {
  background-color: rgb(150, 119, 181);
}

.save:hover {
  color: #915d9b;
}
/*-----Fim do Perfil-----*/