/*  Esse trecho de código CSS é responsável pela estilização da
    seção principal onde contêm a introdução do Tointo. Ele define
    a posição dos elementos dentro dos blocos, como cores de fundo,
    bordas e espaçamentos, além de estilizar elementos específicos
    através de diferentes fontes, alinhamentos e tamanhos. Todas essas
    definições têm o objetivo de criar uma apresentação atrativa e organizada
    do segmento principal da página.*/

    
/*-----Começo do main-----*/
.principal {
    /*Ajuste dos itens do main, como cor, borda e posição*/
    display: flex;
    background-color: #51326F;
    border-bottom: 4px solid rgb(124, 101, 147);
    padding-top: 170px;
    padding-bottom: 10px;
    margin-left: 7px;
    margin-right: 7px;
}

.frase {
    /*Estilização da frase "Bem Vindo ao Tointo"*/
    font-family: 'arial';
    font-size: 47px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-bottom: 25px;
}

.significado {
    /*Estilizção da frase com o significado do tointo*/
    font-family: 'comic Sans MS';
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-bottom: 25px;
}

.texto {
    /*Alinhamento da div descrição*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
    margin-left: 25px;
}

.descricao {
    /*Estilização da descrição de boas vindas*/
    padding-left: 30px;
    padding-right: 30px;
    max-width: 600px;
    text-align: center;
    margin-top: 0;
    color: #fff;

}

/*Início da imagem do calendário do TOINTO*/

.lista {
    /*Imagem da demonstração do site*/
    width: 800px;
    height: 450px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.img_lista {
    /*Div da demonstração da imagem do site*/
    padding-right: 50px;
    padding-left: 50px;
}

/*Fim da imagem do calendário do TOINTO*/

/*-----Fim do main-----*/