/*Descrição detalhada: Esse código é responsável pela estilização da página do confirmar pix do Tointo, na qual define o estilo
dos elementos responsaveis por fazer aparecer na tela, os textos e o botão de confirmar.*/

/*Inicio do confirmar pix*/
#container_conf {
    width: 100%;
    height: 745px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.conf_Pix {
    background-color: rgb(64, 18, 97);
    width: 600px;
    height: 200px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.conteudo {
    text-align: center;
    padding: 18px;
    color: white;
    align-items: center !important;
}

.subtitulo_conf {
    font-size: 22px;
}

.link_conf {
    color: rgb(175, 115, 221);
    font-size: 20px;
    text-decoration: none;
    margin-right: 23px;
}

.link_conf:hover {
    color: rgb(200, 150, 255); 
    text-decoration: underline;
}

/*Fim do confirmar pix */