/*Descrição detalhada: Esse código é responsável pela estilização da página do cadastro concluído do Tointo, 
como por exemplo os textos e o botão.*/

/*Inicío do cadastro concluido atualizado*/
#container_cad_atuali {
    width: 100%;
    height: 745px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cad_concluido_atuali {
    background-color: #7d5389;
    width: 500px;
    height: 200px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.conteudo {
    text-align: center;
    padding: 18px;
    color: white;

}

.subtitulo {
    font-size: 1.4em;
}

.entr_log_atuali {
    font-size: 1.2em;
}

.link_log_atuali {
    color: rgb(175, 115, 221);
    font-size: 1.1em;
}

/*Fim do cadastro concluido atualizado*/