*{
    font-family: 'arial';
    font-size: 16px;
    color: aliceblue;
}

.menu{
    background-color: blueviolet;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border-radius: 8px;
    padding: 20px;
}

body{
    background-color: rgb(204, 108, 255);
}

li{
    list-style-type: none;
}
