/*Descrição detalhada: A class event está estilizando os eventos que aparecem em cada dia do calendario.*/

/*Início do bloco (eventos)*/
.event {
    background-color: #71508F;
    border-radius: 4px;
    color: white;
    padding: 4px;
    margin: 2px;
}

/*Fim do bloco (eventos)*/