/*Descrição detalhada: Esse código é responsável pela estilização do rodapé do Tointo, ele define o estilo
dos elementos como o botão de "Enviar", os títulos, textos, redes sociais e suporte. Ele também controla
o comportamento visual durante interações do usuário (hover) e possui a intenção de facilitar o uso da aplicação para os usuários.*/

/*-----Início do Footer------*/

/*---Início bloco(footer)---*/
.foot{ /*class foot*/
    background-color: rgb(33, 48, 71);
    margin-top: 5px;
    margin-left: 7px;
    margin-right: 7px;
}
/*---Fim bloco(footer)---*/


/*Início do sobre nós, redes sociais e ajuda*/

.footer_element{ /*div footer element, que contém as redes sociais e sobre nós*/
    display: flex;
    justify-content: space-between;
}

.sobre{ /*aside sobre, para dar cor ao título e a descrição do sobre nós*/
    padding-left: 80px;
    color: #fff;
}

.titulo{ /*class do título "Redes Sociais"*/
    color: #fff;
    display: flex;
    padding-left: 90px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 25px;
}

.titulo_sobre{ /*título do footer*/
    margin-top: 20px;
    font-weight: bold;
    font-size: 25px;
}

.redes{ /*Nav das redes sociais*/
    align-items: center;
    width: 300px;
}

.sociais { /*Ul que contêm o li dos ícones das redes sociais*/
    list-style-type: none;
    display: flex;
    margin-left: 100px;
}

.sociais li img{ /*Aqui está modificando os imgs (ícones das redes sociais)*/
    max-width: 38px;
    margin-right: 16px;
}

.ajuda{
    padding: 5px;
    }
    
/*Fim do sobre nós, redes sociais e ajuda*/

/*Fim do Footer*/


